@charset "utf-8";

:root{
    --bg-color1:#777;
    --bg-color2:#c60924;
    --bg-color3:#d65803;
    --bg-color4:#fff;
    --bg-color5:#e6e6e6;
    --shadow-color1:0px 0px 20px rgba(0,0,0,0.2)
}
.btn-lightgray{background: var(--bg-color5);}
.btn-gray{background: var(--bg-color1);}
.btn-red{background: var(--bg-color2);}
.btn-yellow{background: var(--bg-color3);}
.white{background: var(--bg-color4);}

body{font-family: 'Noto Sans KR', sans-serif;}
.logo{width: 100px;margin: 0 auto;}
.max{width: 100%;}
.h-609{height: 609px;}
/* .aBar{
    position: absolute;
    width: 100%;height: 3px;background: red;bottom: 0;
    transform: scale(0);transition: .3s;
} */
.navbar .dropdown-item:hover{
    background: none;
    color: var(--bg-color2);
}
.middle{font-weight: bold;}
.dropdown.active{display: none;}
.dropdown:hover .dropdown-menu{
    display: block;border: 0 none;
    box-shadow: var(--shadow-color1);
    border-radius: 10px;
}
.footer .dropup-center{top: 0px;}
.footer .btn{
    border: 0 none;
    background-color: var(--bg-color5);
    width: 187px;
    display: flex;justify-content: space-between;align-items: center;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
}
.footer .dropdown-item{
    font-size: 14px;
    color: #666;
}
#footer .btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    color: white;
    background-color: black;
}
.footer .dropdown-item:hover{
    background: none;
    color: rgb(46, 102, 223);
}
.footer .btn:hover {
    border: 0 none;
}
.navbar-toggler{border: none;}
.navbar{background: transparent;}
.nav-link{transition: .3s;font-weight: bold;font-size: 18px;color: #262628;}
.nav-link:hover{color: #D6515C;}
.eng:before{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: '';
    width: 1px;
    height: 43px;
    background: #000;
}
/* visual */


.visual{
    position: absolute;
    background-image: url(../images/visual_1.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;height: 100vh;
}
.visual-cont{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.visual h2{font-size: 54px;font-weight: 900;color: #e22727}
.visual p{font-size: 22px;font-weight: bold;}

/* cont-1st */
.cont-1st{background: #383838;padding: 150px 0;}
.cont-2st{background: #8c1c1c;padding: 100px 0;}
.cont-3st{background: #f38100;padding: 100px 0;}
.cont-4st{background: #e6e6e6;}
.cont-1st h3{font-size: 44px;font-weight: 500;}
.cont-2st h3,.cont-3st h3{font-size: 36px;font-weight: 500;}
.cont-1st p{font-size: 22px;}
.left{z-index: 999;}
.sp{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}
.btn1,.btn2,.btn3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 185px;
    margin: 5.5rem 0 0;
    padding: 8px 15px 8px 25px;
    border-radius: 40px;
    border: 0 none;
}
.btn1 p,.btn2 p,.btn3 p{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 1.6;
    margin-bottom: 0;
}
.btn1 .btnWrap,.btn2 .btnWrap,.btn3 .btnWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
.btn1 .btnWrap i.arr{
    display: inline-block;
    width: 25px;height: 25px;
    background-image: url(../images/f2_arrow.png);
}
.btn2 .btnWrap i.arr{
    display: inline-block;
    width: 25px;height: 25px;
    background-image: url(../images/f3_arrow.png);
}
.btn3 .btnWrap i.arr{
    display: inline-block;
    width: 25px;height: 25px;
    background-image: url(../images/f4_arrow.png);
}
.btn1:hover{background: #424242;}
.btn2:hover{background: #b20022;}
.btn3:hover{background: rgb(179, 51, 0);}
.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.item4{
    background-image: url(../images/f3_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
}
.item3{
    background-image: url(../images/f2_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
}
.wrap{width: 100%;height: 100%;}
.cont-1st .bg.item1{
    left: 0;
    opacity: 0.6;
    animation: background-changer2 5s infinite;
    animation-timing-function: linear;
    background-size: 100%;
    transition: all 0.4s ease;
}
.cont-1st .bg.item2 {
    left: 0;
    animation-name: background-changer;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.cont-1st:hover .bg.item1{
    transform: translateX(32px);
}
@keyframes background-changer2{
    0%{
        background-image: url(../images/f1_a_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    33.3%{
        background-image: url(../images/f1_b_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    66.6%{
        background-image: url(../images/f1_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    100%{
        background-image: url(../images/f1_a_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@keyframes background-changer{
    0%{
        background-image: url(../images/f1_1_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    33.3%{
        background-image: url(../images/f1_3_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    66.6%{
        background-image: url(../images/f1_5_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    100%{
        background-image: url(../images/f1_1_bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.cont-4st .row{border-radius: 30px;}
.cont-4st h2{font-size: 44px;font-weight: bold;}
.card{border: 0 none;cursor: pointer;}
.card-img-top{
    border-radius: 20px;
    transition: .3s;
}
.card-img-top:hover{
    box-shadow: var(--shadow-color1);
    transform: translateY(-10px);
}
.card-title{font-weight: bold;font-size: 22px;}
.card-text{color: #8b95a1;font-size: 18px;}

/* footer */

.footer{font-size: 12px;}
.footer .family-site{
    position: relative;
    width: 200px;
    height: 40px;
    background-color: #e6e6e6;
    border-radius: 4px;
    padding: 0 0 0 16px;
    line-height: 40px;
}
.footer .family-site a{
    position: relative;
    width: 200px;
    height: 40px;
    display: block;
}
.footer .icon i{font-size: 28px;}
.logo3{width: 100px;}
.logo4{
    display: inline-block;
    width: 63px;
    height: 44px;
    margin-right: 0;
    background: url(../images/img_webacces.png) no-repeat;
    background-size: 63px 44px;
}
.privacy:after{
    position: absolute;
    right: -5px;
    top: 5px;
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    background: #000;
}
.top{
    display: none;
    width: 42px;height: 42px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    background-color: #383838;
    display: flex;justify-content: center;align-items: center;
    position: fixed;right: 20px;bottom: 20px;
    z-index: 9999;cursor: pointer;
}
.top:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    bottom: 16px;
    right: 12px;
    margin-top: -20px;
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 100%;}
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
    .visual h2{font-size: 34px;}
    .cont-1st h3{font-size: 28px;font-weight: 500;}
    .cont-2st h3,.cont-3st h3{font-size: 28px;font-weight: 500;}
    .cont-1st p{font-size: 18px;}
}

@media (max-width: 991px) {


}

@media (max-width: 767px) {
    .eng:before{
        display: none;
    }
    .logo{display: none;}
    .logo2{width: 100px;}
    .logo3{margin-bottom: 30px;}
    .logo4{margin-bottom: 10px;}
    .card{margin-bottom: 25px;}
    .cont-4st h2{font-size: 30px;}
    .icon{margin-bottom: 20px;}
    .family-site{margin-bottom: 20px;}
    .icon{margin-top: 60px;}
    .eng{display: none;}
    .eng-off{font-weight: bold;left: 400px;}
    .eng-off:after{
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background: #000;
        margin: 0 auto;
    }
    .offcanvas-body {padding: 0;}
    .offcanvas .dropdown-menu{
        display: block;
        border: none;
    }
    .offcanvas .dropdown:hover .dropdown-menu{
        display: block;border: 0 none;
        box-shadow: none;
        border-radius: 10px;
    }

}

@media (max-width: 575px) {

}